:root {
  --primary-color: #21a4df;
  --secondary-color: #dd3b24;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  display: grid;
  place-items: center;
  height: 100%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  padding: 2.5rem;
  margin: 0 auto;
  border-radius: 10px;
  color: #ffffff;
}

.card-plot {
  max-width: 400px;
  margin: 0 auto;
}

.favorites {
  min-width: 300px;
  padding: 1.5rem;
}

.favorites img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.favorites p {
  margin-bottom: 0.5rem;
}

.invalid-feedback {
  color: #ffffff;
}

#movie-title {
  min-height: 24px;
}
